@font-face {
    font-family: Segoe WP;
    src: url(fonts/Segoe_WP.ttf);
}

.wrapper {
    box-sizing: border-box;
    padding-left: 8.75rem;
    padding-right: 8.75rem;
    width: 100%;
    height: 100%;
}

.header {
    background: url(/img/background.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 43.6vw;
}

.player {
    display: none;
}

.logo {
    float: left;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 1.9rem;
}

.logo-image {
    width: 85px;
    height: fit-content;
}

.logo-image>img {
    max-width: 100%;
    max-height: 100%;
}

.logo-title {
    font-size: 2.5rem;
    font-family: "Lucida Sans";
    color: rgb(255, 255, 255);
    font-style: italic;
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
    margin-left: 0.6rem;
    margin-top: 2rem;
    height: fit-content;
}

.logo-subtitle {
    font-size: 0.8rem;
    font-family: "Lao UI";
    color: rgba(255, 255, 255, 0.769);
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
    margin-top: 3.3rem;
    height: fit-content;
    width: auto;
}

.top-nav {
    float: right;
    display: flex;
    position: relative;
    margin-top: 4.4rem;
    z-index: 0;
    height: 2.55rem;
    opacity: 100%;
    width: 45%
}

.top-nav ul {
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.top-nav li {
    float: left;
    height: 100%;
    border-right: 1px solid #b99403;
}

.top-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Segoe WP";
    color: rgb(155, 125, 8);
    background-color: #f5c506;
    text-transform: uppercase;
    line-height: 0.9;
    text-align: center;
    text-decoration: none;
}

.top-nav img {
    height: 44%;
}

.top-nav a>div {
    padding-left: 6%;
}

.top-nav,
.top-nav::before,
.top-nav::after {
    box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
    background-color: #f5c506;
}

.top-nav::before,
.top-nav::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.55rem;
}

.top-nav::before {
    left: -3px;
    top: -3px;
    z-index: -1;
    opacity: 35%;
}

.top-nav::after {
    left: -6px;
    top: -6px;
    z-index: -2;
    opacity: 15%;
}

.top-nav__button--about-us {
    width: 37.5%;
}

.top-nav__button--services {
    width: 29%;
}

.top-nav .top-nav__button--contact {
    width: 33%;
    border-right: none;
}

.top-nav__button div{
    margin-left: 7%;
}

.top-nav img {
    max-height: 100%;
    max-width: 100%;
}

.slogan {
    float: right;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-family: "Asap";
    line-height: 1.2;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
}

.slogan-text__yellow {
    color: rgb(245, 197, 6);
}

.advantages {
    background-color: #f6f6f6;
    height: 16.3vw;
    width: 100%;
    box-shadow: 0 0 19px rgba(0,0,0,2);
}

.advantages>.wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.advantage {
    text-align: center;
    margin-bottom: calc(3% + 0.2rem);
    width: 33%;
}

.advantage-shape {
    color:#f5c506;
    opacity: 100%;
}

.advantage-description {
    font-size: 1.7rem;
    font-family: "Segoe UI";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}  

.stories {
    background: url(/img/background-checkerboard.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 40.7vw;
}

.stories-header {
    font-size: 2.3rem;
    font-family: "PT Sans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.8;
    text-align: left;
    padding-top: 3.1%;
}

.stories-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

#story-video {
    display: flex;
    justify-content: center;
    width: 24.2vw;
    height: 100%;
    overflow: hidden;
    margin-right: 2.75vw;
}

.story {
    width: 32.5%;
    height: 14.6rem;
    background-color: #ec9e03;
    position: relative;
    margin-top: 4%;
    min-width: 300px;
    max-height: 240px;
}

.story-body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    font-family: "Segoe WP";
    color: rgb(255, 255, 255);
    line-height: 1.308;
    text-align: left;
    text-indent: none;
    word-wrap: break-word;
    overflow: hidden;
}

.story-body>span {
    padding: 1rem 2rem 0;
}

.story-body>img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.story-footer {
    width: 100%;
}

.story-number {
    position: absolute;
    font-size: 1.55rem;
    font-family: "Segoe WP";
    color: rgb(255, 255, 255);
    line-height: 0.8;
    right: 0;
    padding-top: 1.25rem;
    padding-right: 1.25rem;
}
 

.story-footer>svg {
    padding-right: 0.7rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

.features {
    background: url(/img/background-2.png);
    background-size: cover;
    width: 100%;
    height: 39vw;
}

.features-header {
    font-size: 2.7rem;
    font-family: "PT Sans";
    color: rgb(245, 197, 6);
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
    padding-top: 3.9%;
}

.features-body {
    display: flex;
    margin-top: 60px;
}

.features-body-desription {
    padding-left: 4rem;
}

.features-body-desription>ul {
    list-style-image: url(/img/point-list.svg);
    bottom: 0;
    align-self: flex-end;
    padding-top: 3%;
}


.features-body-desription ul li {
    list-style-image: url(/img/point-list.svg);
    font-size: 1.37rem;
    font-family: "OpenSans";
    color: rgb(169, 169, 167);
    line-height: 1.2;
    text-align: left;
    word-wrap: break-word;
    padding-top: 7%;
}

.features-body-desription ul li span{
    position: relative;
    left: 3%;
}

.features-body-images {
    float: left;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 70%;
    height: 100%;
}

.features-body-images div {
    align-self: flex-end;
    width: fit-content;
}

.features-shape-circle {
    position: absolute;
    text-align: center;
    top: -16%;
    left: 0;
}

.features-shape-circle>div {
    font-size: 1.2em;
    font-family: "PT Sans Narrow";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 75%;
    width: 100%;
    height: 100%;
} 

#image-tablet,
#image-phone {
    padding-bottom: 7%;
}

.features-body-images div>img {
    display: block;
    width: 100%;
    height: auto;
}

.footer {
    background-color: #4c4c4c;
    width: 100%;
    height: 5vw;
    box-shadow: 0 0 19px rgba(0,0,0,10);
}

.footer>.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 1.8rem;
    font-family: "Lucida Sans";
    color: rgb(255, 255, 255);
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
}

.logo-image-bottom {
    width: 53px;
    height: 53px;
}

.logo-image-bottom>img {
    max-width: 100%;
    max-height: 100%;
}