@media (min-width: 1400px) {
    .features-body-images {
        justify-content: flex-end;
    }

    #image-tablet,
    #image-phone
    {
        padding-bottom: 4.5%;
    }
    
    #image-tablet,
    #image-phone,
    #image-pc {
        padding-right: 15px;
    }

    .features-body {
        margin-left: 0;
    }

    .features-shape-circle {
        left: auto;
    }

    .logo {
        width: 45%;
    }

    .features-body-images {
        width: 50%
    }

    .story {
        max-width: 23rem;
    }
}
